.dark-gray-bg .project .project-meta{
	background-color: $brand-color4;
}

.dark-gray-bg .project:hover .project-meta {
	background-color: $brand-color3;
}

section.dark-gray-bg{
	background-color: $brand-color4;
}